extends baseEmail
block content

    p Hi #{firstName},
    p Your password has been successfully reset. If you did not request this change, please contact our support immediately.
    p You can now log in with your new password.

